section {
    background-color: rgba(255, 255, 255, 0.2);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

::-webkit-input-placeholder {
    font-style: italic;
  }

h1 {
    color: pink;
    font-size: 80px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 100;
}

#todoList {
    list-style: none;
}

body {
	font: 16px Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: white;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
}

.add {
    font-size: 24px;
    width: 100%;
    padding: 20px 20px 20px 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.add + #selectAll {
    background: url("https://web.2018.plus.jakobkallin.com/project/icons/circle-down.svg") no-repeat;
    position: absolute;
    height: 34px;
    width: 35px;
    top: 140px;
    margin-left: 10px;
    opacity: 0.5;
}

button {
    margin-left: 5px;
    float: right;
    background: url("https://web.2018.plus.jakobkallin.com/project/icons/cross.svg");
    background-size: 100%;
    border: hidden;
    height: 20px;
    width: 20px;
}

input[type='checkbox'] {
    display: none;
}

.listItemLabel {
    font-size: 24px;
    padding-left: 0.5em;
}

.listItem {
    border: 1px solid #ccc;
    padding: 20px 15px 15px 20px;
}

.checkBoxLabel {
    float: left;
}

input[type=checkbox] + .checkBoxLabel {
    display:inline-block;
    padding: 0 0 0 0px;
    background:url("https://web.2018.plus.jakobkallin.com/project/icons/checkbox-unchecked.svg");
    height: 20px;
    width: 20px;
    background-size: 100%;   
}

input[type=checkbox]:checked + .checkBoxLabel {
    background:url("https://web.2018.plus.jakobkallin.com/project/icons/checkbox-checked.svg");
    height: 20px;
    width: 20px;
    display:inline-block;
    background-size: 100%;
}

#divLabel {
    display: flex;
    float: left;
}

.selectFilter {
	position: absolute;
	right: 0;
	left: 0;
}

.selectFilter li {
    display: inline;
}

.selectFilter li a {
    margin: 5px;
    text-decoration: none;
    color: #4d4d4d;
    border: solid transparent;
    border-radius: 2px;
    padding: 5px 7px;
}

.selectFilter li a:hover {
    border-color: rgba(240, 205, 9, 0.5);
}

.mvcFooter {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px 15px 10px 10px;
    height: 20px;
}